@import 'vars'

.navigation
  position: fixed
  width: 100vw
  margin-left: auto
  margin-right: auto

  .navigation-content
    background-color: $nav-color
    width: 90%
    margin-left: auto
    margin-right: auto
    padding: .5rem
    display: grid
    grid-template-columns: repeat(5, 1fr)

    .navigation-button
      text-align: center
      margin-top: auto
      margin-bottom: auto

      .navigation-link
        text-decoration: none
        padding: 2rem

    .navigation-logo
      .navigation-logo-image
        object-fit: cover
        max-height: 166px
        max-width: 359px
