@use 'navbar'
@import 'vars'
body
  width: 90vw
  margin: 0 auto
  padding: 0
.page-content
  background-color: $background
  width: 100%
  margin-left: auto
  margin-right: auto
  .big-picture
    margin-top: 333px
    width: 100%
    height: auto
  .work-container
    margin-top: 10em
    width: 100%
    .work-item
      .work-item-head
        text-transform: uppercase
        font-size: 2.5rem
        .work-item-text
          float: left
