@use 'navbar'
@import 'vars'
@import url($font-link)
html
  font-family: $montserrat
  background-color: $background
body
  width: 90vw
  margin: 0 auto
  padding: 0
.page-content
  background-color: $background
  width: 90vw
  margin-left: auto
  margin-right: auto
  .big-picture
    margin-top: 220px
    width: 90%
    height: auto
    display: block
    margin-left: auto
    margin-right: auto

.products--product-container
  width: 90%
  margin-top: 71px
  margin-left: auto
  margin-right: auto
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 71px
  .product-container
    text-align: center
    .product-image
      width: 100%
      max-width: 519px
    .product-name
      font-weight: bold
      font-size: 2.5rem
      text-transform: uppercase

